.text {
    width: 300px;
    height: 35px;
    border-radius: 6px;
    outline: none;
    border: 0;
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 15px;
    margin-bottom: 6px;
}

.text[type^="checkbox"]  {
    width: 30px;
}
